<h1 class="header">Eat-Da-Burger</h1>

	<div class="container">
		
		<div id="burger-pic">
		<img src="../assets/img/burger.png" alt="eat-da-burger" height="150" width="150">
		</div>

		<form id="burger-form">
			<input type="text" name="burger-name">
		</form>

	</div>